section{
  background-color: lightblue;
}

.header{
display: flex;
justify-content: space-evenly;
align-items: center;
}

.monthContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
}

.weekDays{
display: flex;
justify-content: center;
float: left;
}