section{
  background-color: lightblue;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
}

.monthContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  .active{
    background-color: lightpink;
  }
}

.weekDays{
  display: grid;
  grid-template-columns: (1fr);
}

button{
  cursor: pointer;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
}
