.row {
  margin-top: 20px;
}

.rowCaledare{
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
  margin: 15px 0px 5px 0px;
  font-size: 20px;
}

.rowDays{
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
  background: blue;
  color: white;
  margin: 15px 0px 5px 0px;
  font-size: 20px;
}

.daySelected {
  background: blue;
  color: white;
  cursor: pointer;
}

.day {
  cursor: pointer;
}

.grid {
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}

.monthSelect {
  text-align: center;
  padding: 2px 15px;
  font-size: 30px;
  margin: 0px 15px 0px 15px;
  text-transform: uppercase;
  color: 00012e;
}

.dateSelect {
  padding: 2px 15px;
  font-size: 20px;
  background: blue;
  color: #FFF;
}
        
.hour {
  background: red;
  padding: 10px;
}

.table {
  border: 1px solid #6d6e7d;
  width: 100%;
}

.table tr td {
  border: 1px solid #00012E;
}

.tabledays {
  text-align: center;
  background: blue;
  color: white;
  font-size: 30px;
  width: 14rem;
}

.tableHour {
  text-align: center;
  background: rgba(0, 0, 16, 0.936);
  color: white;
  font-size: 20px;
}

.thDay {
  width: 100%;
  height: 43px;
}

.text {
  font-size: 30px;
  padding: 4px 10px;
}

/* .scrolled {
  overflow: scroll;
  scroll-behavior: smooth;
} */